@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {  --font-display: "Oswald", sans-serif; }

@theme {
  --color-bunker-50: #f0f9fb;
--color-bunker-100: #d9eff4;
--color-bunker-200: #b8e0e9;
--color-bunker-300: #87c8d9;
--color-bunker-400: #4fa8c1;
--color-bunker-500: #338ca7;
--color-bunker-600: #2d728d;
--color-bunker-700: #2b5e73;
--color-bunker-800: #2a4e60;
--color-bunker-900: #274252;
--color-bunker-950: #0c181f;

--color-dark-purple: #0d0221ff;
--color-federal-blue: #0f084bff;
--color-marian-blue: #26408bff;
--color-light-blue: #a6cfd5ff;
--color-mint-green: #c2e7d9ff;
}

@layer base {
  @font-face{
    font-family: JBmono-reg;
    src: url(./fonts/jetbrains_mono/JetBrainsMono-Regular.woff2) format("woff2")
  }
  @font-face {
    font-family: SFpro-reg;
    src: url(./fonts/sfpro/SF-Pro-Display-Regular.woff) format("woff");
  }
}
